@use "../abstracts";

html {
  --body-bg-color: #f6f6f6;
  --primary-color: #1a162e;
  --icon-primary-color: brightness(0) saturate(100%) invert(10%) sepia(34%) saturate(788%)
    hue-rotate(210deg) brightness(97%) contrast(102%);
  --header-bg-color: #eeeeee;
  --action-bg-color: #ffffff;
  --action-separate-color: #ededf6;
  --box-shadow-color: rgba(237, 237, 246, 0.2);
  @include abstracts.breakPoint(md) {
    --header-bg-color: #ffffff;
  }

  // Dropdown
  --dropdown-bg-color: #ffffff;
  --dropdown-text-color: #1a162e;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --dropdown-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(169deg) brightness(101%) contrast(101%);
  --top-menu-border-color: #d2d1d6;
  --menu-link-hover-color: #0071dc;
  --text-menu-color: #1a162e;
}
